<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Dashboard</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <ng-container>
                            <li class="breadcrumb-item">
                                <a href="javascript: void(0);">Dashboards</a>
                            </li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ng-container>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->
</div>
<!-- container-fluid -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <img src="assets/images/logo_gau1.png" alt="" class="avatar-md rounded-circle img-thumbnail">
                            </div>
                            <div class="flex-grow-1 align-self-center">
                                <div class="text-muted">
                                    <p class="mb-2">Welcome to yourInformation dashboard</p>
                                    <h5 class="mb-1">Na Na</h5>
                                    <p class="mb-0">Front end</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 align-self-center">
                        <div class="text-lg-center mt-4 mt-lg-0">
                            <div class="row">
                                <div class="col-3">
                                    <div>
                                        <p class="text-muted text-truncate mb-2">Total views</p>
                                        <h5 class="mb-0">48</h5>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div>
                                        <p class="text-muted text-truncate mb-2">Access times</p>
                                        <h5 class="mb-0">40</h5>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div>
                                        <p class="text-muted text-truncate mb-2">
                                          Clicks</p>
                                        <h5 class="mb-0">18</h5>
                                    </div>
                                </div>
                                <div class="col-3">
                                  <div>
                                      <p class="text-muted text-truncate mb-2">
                                        Subscribers</p>
                                      <h5 class="mb-0">18</h5>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 d-none d-lg-block">
                        <div class="clearfix  mt-4 mt-lg-0">
                            <div class="dropdown float-end" dropdown>
                                <a  routerLink="/dashboards/setting" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle> <i class="bx bxs-cog align-middle me-1"></i> Settings
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">My account</h4>
          <div id="basic-example">
            <ng-stepper #cdkStepper [linear]="true" class="wizard">
              <cdk-step [optional]="false">
                <ng-template cdkStepLabel>
                  <span class="number">1.</span>
                  <span>Your Details information</span>
                </ng-template>
                <section *ngIf="cdkStepper.selectedIndex === 0">
                  <form>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="mb-3">
                          <label for="basicpill-firstname-input">First name</label>
                          <input type="text" class="form-control" id="basicpill-firstname-input" placeholder="Enter Your First Name">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="mb-3">
                          <label for="basicpill-lastname-input">Last name</label>
                          <input type="text" class="form-control" id="basicpill-lastname-input" placeholder="Enter Your Last Name">
                        </div>
                      </div>
                    </div>

                    <div class="mb-3">
                        <label class="d-block mb-3">Gender :</label>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                id="inlineRadio1" value="option1" />
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                id="inlineRadio2" value="option2" />
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6">
                        <div class="mb-3">
                          <label for="basicpill-phoneno-input">Phone</label>
                          <input type="text" class="form-control" id="basicpill-phoneno-input" placeholder="Enter Your Phone No.">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="mb-3">
                          <label for="basicpill-email-input">Email</label>
                          <input type="email" class="form-control" id="basicpill-email-input" placeholder="Enter Your Email ID">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="mb-3">
                          <label for="basicpill-address-input">Address</label>
                          <textarea id="basicpill-address-input" class="form-control" rows="2" placeholder="Enter Your Address"></textarea>
                        </div>
                      </div>
                    </div>
                  </form>
                  <ul class="list-inline wizard d-flex justify-content-end mb-0">
                    <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>Previous</button></li>
                    <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext>Next</button></li>
                  </ul>
                </section>
              </cdk-step>

              <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                  <span class="number">2.</span>
                  <span>Create a new Linktree</span>
                </ng-template>
                <section *ngIf="cdkStepper.selectedIndex === 1">
                    
                  <form>
                    <div class="mb-3">
                        <label for="formname">Choose a username :</label> <br />
                        <span style="font-size: 10px">Choose a Link URL for your new Link. You can always change
                            it
                            later.</span>
                        <input type="text" class="form-control" id="formname" placeholder=" Usename..." />
                    </div>

                    <div class="mb-3">
                        <div class="">
                            <label for="exampleDataList" class="col-md-2 col-form-label">Tell us about yourself </label>
                            <div class="col-md-10">
                                <span style="font-size: 10px">Tell us about your new Linktree for a personalized
                                    experience.</span>
                                <input class="form-control" list="datalistOptions" id="exampleDataList"
                                    placeholder="Select one category that best describes your Linktree:..." />
                                <datalist id="datalistOptions">
                                    <option value="Business"></option>
                                    <option value="Influencer & Digital Creator"></option>
                                    <option value="Personal"></option>
                                    <option value="Education"></option>
                                    <option value="Entertainment"></option>
                                    <option value="Fashion & Beauty"></option>
                                    <option value="Food & Beverage"></option>
                                    <option value="Government & Politics"></option>
                                    <option value="Health & Wellness"></option>
                                    <option value="Tech"></option>
                                    <option value="Travel & Tourism"></option>
                                    <option value="Non-Profit"></option>
                                    <option value="Other"></option>
                                </datalist>
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="mb-3" [formGroup]="phoneData">
                            <div formArrayName="phoneValue">
                                <label>ADD LINK </label> 
                                <div class="inner mb-3 row"
                                    *ngFor="let data1 of phonedata().controls; let i = index"
                                    [formGroupName]="i">
                                    <div class="col-md-10 col-8">
                                        <input type="text" class="inner form-control"
                                            formControlName="phonenumber"
                                            placeholder="Enter URL:..." />
                                    </div>
                                    <div class="col-md-2 col-4">
                                        <div class="d-grid">
                                            <input type="button" class="btn btn-primary inner" value="Delete"
                                                (click)="deletePhone(i)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" class="btn btn-success inner" value="Add link " (click)="addPhone()" />
                    </div>
                    <div class="mb-3">
                        <label for="formmessage">Message :</label>
                        <textarea id="formmessage" class="form-control" rows="3"></textarea>
                    </div>
                  </form>

                  <ul class="list-inline wizard d-flex justify-content-end mb-0">
                    <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>Previous</button></li>
                    <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext>Next</button></li>
                  </ul>
                </section>
              </cdk-step>

              <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                  <span class="number">3.</span>
                  <span>Store</span>
                </ng-template>
                <section *ngIf="cdkStepper.selectedIndex === 2">
                    <span>A dedicated Store,
                        right on your Linktree.</span>
                  <div>
                    <form>
                        <h4 style="text-align: center;">Product details</h4>


                        <div class="mb-4">
                            <div class="mb-3" [formGroup]="phoneData">
                                <div formArrayName="phoneValue">
                                    <label>Url Product </label> 
                                    <div class="inner mb-3 row"
                                        *ngFor="let data1 of phonedata().controls; let i = index"
                                        [formGroupName]="i">
                                        <div class="col-md-10 col-8">
                                            <input type="text" class="inner form-control"
                                                formControlName="phonenumber"
                                                placeholder="URL:..." />
                                        </div>
                                        <div class="col-md-2 col-4">
                                            <div class="d-grid">
                                                <input type="button" class="btn btn-primary inner" value="Delete"
                                                    (click)="deletePhone(i)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="button" class="btn btn-success inner" value="Add link " (click)="addPhone()" />
                        </div>
                        <div class="mb-3">
                            <label for="formname">Title :</label>
                            <input type="text" class="form-control" id="formname" placeholder=" Title..." />
                        </div>

                      <div class="row">
                        <div class="col-lg-6">
                          <div class="mb-3">
                            <label for="basicpill-cardno-input">Price</label>
                            <input type="text" class="form-control" id="basicpill-cardno-input">
                          </div>
                        </div>

                        <div class="col-lg-6">
                          <div class="mb-3">
                            <label for="basicpill-card-verification-input">Currency</label>
                            <select class="form-select">
                                <option selected>USD ($)</option>
                                <option value="AE">VND</option>
                              </select>
                          </div>
                        </div>
                      </div>
                      
                    </form>
                  </div>

                  <ul class="list-inline wizard d-flex justify-content-end mb-0">
                    <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>Previous</button></li>
                    <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext>Next</button></li>
                  </ul>
                </section>
              </cdk-step>

              <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                  <span class="number">4.</span>
                  <span>Confirm Detail</span>
                </ng-template>
                <section *ngIf="cdkStepper.selectedIndex === 3">
                  <div class="row justify-content-center">
                    <div class="col-lg-6">
                      <div class="text-center">
                        <div class="mb-4">
                          <i class="mdi mdi-check-circle-outline text-success display-4"></i>
                        </div>
                        <div>
                          <h5>Confirm Detail</h5>
                          <p class="text-muted">If several languages coalesce, the grammar of the resulting</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <ul class="list-inline wizard d-flex justify-content-end mb-0">
                    <li class="previous list-inline-item" aria-disabled="true"><button class="btn btn-primary" cdkStepperPrevious>Previous</button></li>
                    <li class="next list-inline-item" aria-disabled="false"><button class="btn btn-primary" cdkStepperNext>Finish</button></li>
                  </ul>
                </section>
              </cdk-step>

            </ng-stepper>
          </div>

        </div>
        <!-- end card body -->
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>